*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
}

button{
    position: relative;
    height: 50px;
    width: 120px;
    font-size: 1.6rem;
    color: white;
    background-color: rgb(31, 131, 27);
    border:none;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    span{
        position: absolute;
        transform: translate(-50%, -50%);
        transition: top 1s, left 1s;
    }
    .one{
        top:50%
    }
    .two{
        left: -50%;
    }
    &::after, &::before{
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        content: '';
        transition: all 1s;
    }

    &::after{
        top: 0;
        left: -110%;
        height: 100%;
        width: 100%;
        border-right: 1px solid white;
    }

    &::before{
        top: -110%;
        left: 0%;
        height: 100%;
        width: 100%;
        border-bottom: 1px solid white;
    }


    &:hover{
        &::after{
            left: 0;
        }
        &::before{
            top: 0;
        }
        .one{
            top:150%;
        }
        .two{
            left: 50%;
        }
    }
}


div{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    background-color: #fff;
    transition: width 3s 2s, height 3s 2s;
}